
[Unit]
Description=Node.js Recording App service
Requires=network-online.target       

[Service]
User=pi
# Kill any orphaned node processes.
ExecStartPre=if /usr/bin/pgrep node; then /usr/bin/killall node; fi
ExecStart=/usr/bin/node /home/pi/source/recorder-app/server.js
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Restart=always
# Restart service after 10 seconds if node service crashes
RestartSec=10
# Output to syslog
StandardOutput=null
StandardError=syslog
SyslogIdentifier=nodejs-recorder-app
#User=<alternate user>
#Group=<alternate group>
Environment=NODE_ENV=production PORT=3000
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
