div.container
    div.card
        div.card-block
            p.small Recordings will be saved to: 
                em(id="path")
    div.row
        div.col-xs-auto.col-sm-8
            div.container-canvas
                canvas.meter(id="meter" height:50)
            div.btn-group.btn-group-justified
                a.btn.btn-default.btn-lg(id="play-pause" data-toggle="tooltip" data-placement="left" title="Play/pause audio")
                    span.glyphicon.glyphicon-play
                a.btn.btn-default.btn-lg(id="record" data-toggle="tooltip" data-placement="left" title="Record audio")
                    span.glyphicon.glyphicon-record
                a.btn.btn-default.btn-lg(id="clipDetect" data-toggle="tooltip" data-placement="left" title="Clip Detection")
                    span.glyphicon.glyphicon-equalizer
div.container
    