extends layout

block content
    include nav.pug

    p(id="hostname" hidden)= hostname
    div.container
        div.page-header Main Controls
    

    block append head
        script(src='/js/controls.js')
        script(src='/js/volume-meter.js')

    include controls.pug
                
    include footer.pug
