div.container
    ul.nav.nav-pills
        li(role="presentation")
            a(href="/") Control
        li(role="presentation")
            a(href="/settings") Settings
        li(role="presentation")
            a(href="/recordings") Recordings