div.container
    ul.nav.nav-pills
        li(role="presentation")
            a Control
        li(role="presentation")
            a Settings
        li(role="presentation")
            a Recordings