extends layout

block content
    include nav.pug

    append head
        script(src='/js/settings.js')
    div.container
        div.page-header Manage Settings

        div.col-xs-8.col-sm-6
            form.form-horizontal
                fieldset
                    div.form-group
                        label.control-label(for="sampleRate") FLAC Bitdepth/Sample Rate
                        select.form-control(id="sampleRate")
                            option(value="16/48000") 16bit 48 Khz                               
                            option(value="24/48000") 24bit 48 Khz
                            option(value="24/96000") 24bit 96 Khz
                            option(value="24/192000") 24bit 192 Khz
                    div.form-group
                        label.control-label(for="mp3Rate") MP3 VBR Bitrate
                        select.form-control(id="mp3Rate")
                            option(value="0") ~245 kbps                                
                            option(value="1") ~225 kbps
                            option(value="2") ~190 kbps
                            option(value="3") ~175 kbps
                    div.form-group
                        label.control-label(for="defaultCard") Recording card
                        select.form-control(id="defaultCard")
                            option(value="plug:softvol") Plug device
                            option(value="hw:0,0") Hardware device
                    div.form-group
                        label.control-label(for="highResFormat") Format for recordings
                        select.form-control(id="highResFormat")
                            option(value="flac") 16/24bit FLAC
                            option(value="wav") 16/32bit WAV
                        div.checkbox
                            label
                                input(type="checkbox" id="native24Bit") 
                                span Hardware 24bit Support?
                    
                fieldset
                    div.form-group
                        button.btn.btn-primary(type="button" id="save") Save

            ul.list-group(id ="log")