html, body {
    height: 100%;
    /*min-width: 480px;*/
}
.container-canvas {
    /* This could be done in one single declaration. See the extended sample. */
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    width: auto;
}

canvas {
    margin-top: 30px;        
    width: 100%;
    height: auto;
}

audio {
    margin-top: 30px;        
    width: 100%;
    height: auto;
}

.meter {
    height:50px;
}

.footer {
    position: absolute;
    bottom: 10px;
    height: 20px;
    line-height: 20px;
}

.nav.nav-sm > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;

}

@media screen and (min-width: 320px) {
    .nav-pills{
        display: flex;
    }
    .nav-pills li {
        display: flex;
        flex: 1;
    }
    
    .nav-pills li  a {
        flex: 1;
    }
    }

/*@media (min-width: 768px){
    .nav-pills{
       margin: 0 auto;
       display: table;
       table-layout: fixed;
       float: none;
    }
  }*/  
/*.nav-pills-sm>li {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}*/
